**List and For Loop and if condition**

In [64]:
l = [1,2,3,4,5,6,7,80,90,100]
print("List is",l)
for i in l:
  if(i/2>7):
    print("number which are greater than 7 after dividing with 2 is ",i, "i.e,",i/2)

List is [1, 2, 3, 4, 5, 6, 7, 80, 90, 100]
number which are greater than 7 after dividing with 2 is  80 i.e, 40.0
number which are greater than 7 after dividing with 2 is  90 i.e, 45.0
number which are greater than 7 after dividing with 2 is  100 i.e, 50.0

In [45]:
l = [1,2,3,4,5,6,7,8,9,10]
print("List is",l)
for i in l:
  if(i>7 and i%2==0):
    print(i)

List is [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
8
10