**Question 1:**

Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only

In [6]:
email = input('Enter you Mail Address: ')
company_domain = email.split('@')[1]
company_name = company_domain.split('.')[0]
print(company_name)

Enter you Mail Address: rahul@salesforce.com
salesforce

**Question 2:**

Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.

In [11]:
input_string = input('Enter Comma Seperated String: ')
word_list = input_string.split(',')
word_list.sort()
print(','.join(word_list))

Enter Comma Seperated String: without,hello,bag,world
bag,hello,without,world

**Question 3:**

Create your own Jupyter Notebook for Sets.
Reference link: https://www.w3schools.com/python/python_sets.asp

In [47]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

**Access Items**

Loop through the set, and print the values:

In [48]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

Check if "banana" is present in the set:

In [49]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

**Add Items:**

Add an item to a set, using the add() method:

In [50]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'cherry', 'orange', 'banana'}

Add multiple items to a set, using the update() method:

In [51]:
thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'grapes', 'banana', 'cherry', 'apple', 'orange', 'mango'}

**Get the Length of a Set:**

To determine how many items a set has, use the len() method.

In [52]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

**Remove Item**

To remove an item in a set, use the remove(), or the discard() method.

Remove "banana" by using the remove() method:

In [53]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

Remove "banana" by using the discard() method:

In [54]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

**Question 4:**

Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

In [56]:
listinput = list(map(int,input('input value : ').split()))
for i in range(1,listinput[-1]+1):
  if i not in listinput:
    print('Missing values are : ',i)

input value : 1 2 3 4 6 7 9
Missing values are :  5
Missing values are :  8

**Question 5:**

With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

In [57]:
def remove_duplicate():
    input_list = input('Enter number list seperated by space ' ': ')
    list = input_list.split(' ')
    input_duplicate_removed = []
    for i in list:
        if i not in input_duplicate_removed:
            input_duplicate_removed.append(i)
            
    print(' '.join(input_duplicate_removed))
remove_duplicate()

Enter number list seperated by space : 12 24 35 24 88 120 155 88 120 155
12 24 35 88 120 155